.izbor {
    margin-left: 30rem;
    margin-top: 1.5rem;
    font-size: large;
}

.poruka {
   margin-left: 14rem;
}

.menjacnica {
    margin-top: 5rem;
}

.mb-3 {
    margin-top: 1.5rem;
}